@font-face {
  font-family: "iconfont"; /* Project id 3991153 */
  src: url('iconfont.woff2?t=1751814223959') format('woff2'),
       url('iconfont.woff?t=1751814223959') format('woff'),
       url('iconfont.ttf?t=1751814223959') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-canshuguanli:before {
  content: "\e60c";
}

.icon-user-manage:before {
  content: "\e607";
}

.icon-yonghuguanli:before {
  content: "\e662";
}

.icon-xitongguanli:before {
  content: "\e66a";
}

.icon-applications:before {
  content: "\e60a";
}

.icon-beibaoren:before {
  content: "\ea0f";
}

.icon-quanxianguanli:before {
  content: "\e61a";
}

.icon-jiaoseguanli:before {
  content: "\e694";
}

.icon-yingyongliebiao:before {
  content: "\e615";
}

.icon-zcpt-weixincaidanguanli:before {
  content: "\e6b5";
}

.icon-caidanguanli:before {
  content: "\e686";
}

.icon-fangwenpingju:before {
  content: "\e635";
}

.icon-pingju:before {
  content: "\e69f";
}

.icon-gitee:before {
  content: "\e6a8";
}

.icon-gitlab:before {
  content: "\e65c";
}

.icon-fuwuqiguanli:before {
  content: "\e60b";
}

.icon-kubernetes:before {
  content: "\ebee";
}

.icon-bxl-kubernetes:before {
  content: "\e6f7";
}

.icon-service:before {
  content: "\e941";
}

.icon-rongqi:before {
  content: "\e609";
}

.icon-zu1773:before {
  content: "\e62c";
}

.icon-code-branch-full:before {
  content: "\e993";
}

.icon-yingyong:before {
  content: "\e64f";
}

.icon-yunweiguanli:before {
  content: "\e61e";
}

.icon-DeploymentUnit:before {
  content: "\e613";
}

